<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор рейса</title>
</head>
<body>
    <h1>Выбор рейса</h1>
    <h2>Рейс {{ flight.flight_number }}</h2>
    <p>Город отправления: {{ flight.departure_city }}</p>
    <p>Город назначения: {{ flight.arrival_city }}</p>
    <p>Дата отправления: {{ flight.departure_time }}</p>
    <p>Цена эконом-класса: {{ economy_class_price }}</p>
    <p>Цена комфорт-класса: {{ comfort_class_price }}</p>
    <p>Цена бизнес-класса: {{ business_class_price }}</p>

    <h3>Выберите класс билета</h3>
   <form method="POST" action="{% url 'booking_confirmation' flight.id %}">
    {% csrf_token %}
    <h3>Выберите класс билета:</h3>
    <label>
        <input type="radio" name="ticket_class" value="ECONOMY" required>
        Эконом — {{ economy_class_price }} (доступно мест: {{ economy_seats }})
    </label><br>
    <label>
        <input type="radio" name="ticket_class" value="COMFORT" required>
        Комфорт — {{ comfort_class_price }} (доступно мест: {{ comfort_seats }})
    </label><br>
    <label>
        <input type="radio" name="ticket_class" value="BUSINESS" required>
        Бизнес — {{ business_class_price }} (доступно мест: {{ business_seats }})
    </label><br>
    <button type="submit">Подтвердить</button>
</form>

</body>
</html>
